*{
	margin:0px;
	padding:0px;
}
img{
	border: none;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.Header{
	width:100%;
	height:56px;
	background:#25292e;
	z-index: 1000;
}
header{
	width:1000px;
	height:56px;
	margin:0 auto;
	position: relative;
}
header .logo{
	width:95px;
	height:38px;
	background:url(../img/icon.png);
	display:block;
	float:left;
	opacity: 1;
	filter: alpha(opacity=100);
	margin:9px 0 9px 0;
	-webkit-transition: all .5s;
}
header .logo:hover{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
header ul{
	float:right;
}
header ul li{
	font-size:12px;
	line-height:56px;
	letter-spacing: 1px;
	padding:0 15px;
	float:left;
	color:gray;
	position:relative;
}
header ul li a{
	color:#666;
}
header ul li.line{
	width:1px;
    height:8px;
    margin-top:25px;
    padding:0;
    background:#525961;
}
header ul li.last{
	padding-right:0px;
}
header ul li.last a{
  -webkit-transition: all .3s;
  /*渐变属性*/
}
header ul li .login{
	margin-right:8px;
}
header ul li .login,header ul li .register{
	color:#ccc;
}
.cart{
	width:320px;
	position:absolute;top:56px;right:-120px;
	background:#292f34;
	display: none;
	z-index: 5;
}
header ul .shoppingcart:hover{
	background-image:-webkit-linear-gradient(to bottom,#25292e,#292f34);
	background-image:linear-gradient(to bottom,#25292e,#292f34);
}
header ul .shoppingcart:hover a{
	color:#ccc;
}
header ul .shoppingcart:hover .cart{
	display:block;
}
header ul .message:hover{
	background-image:-webkit-linear-gradient(to bottom,#25292e,#292f34);
	background-image:linear-gradient(to bottom,#25292e,#292f34);
}
header ul .message:hover a{
	color:#ccc;
}
header ul .message:hover .messages{
	display:block;
}
header ul .last:hover a{
	color:#ccc;
}
.cart .goods{
	width:320px;
	height:auto;
	text-align: center;
}
.cart .goods a{
	line-height:70px;
	font-size:13px;
}
.cart .addgoods{
	width:320px;
	height:50px;
	line-height:50px;
	font-size:13px;
	color:#ccc;
	background: #7dbfde;
	display:block;
	text-align: center;
	float:left;
}
.cart .addgoods:hover{
	background: #96c8e0;
}
.messages{
	width:190px;
	font-size:14px;
	line-height:44px;
	position:absolute;top:56px;right:-70px;
	background:#292f34;
	display: none;
	z-index: 5;
}
.messages a{
	width:160px;
	height:45px;
	padding: 0 15px;
	display:block;
	-webkit-transition: all .3s;
}
.messages a span{
	width:160px;
	height:44px;
	color:#ccc;
	border-bottom:1px solid #3f4449;
	display:block;
}
.messages a:hover{
	background: #2e353d;
}
.messages a span.last{
	border-bottom:none;
}
.messages a span small{
	color:#ccc;
	float:right;
}
.Nav{
	width:100%;
	height:49px;
	margin-bottom: 25px;
	z-index: 999;
}
.nav{
	width:1000px;
	height:45px;
	border-bottom: 4px solid #ededed;
	margin:0 auto;
	background:white;
}
.nav ul{
	float:left;
}
.nav ul li{
	width:164px;
	font-size:16px;
	line-height: 45px;
	float:left;
}
.nav ul li.home{
	width:118px;
}
.nav ul li.last{
	width:121px;
}
.nav ul li>a{
	width:121px;
	height:45px;
	color:black;
	text-align: center;
	display: block;
	border-bottom: 4px solid #ededed;
}
.nav ul li.home>a{
	width:118px;
	text-align: left;
	display: block;
}
.nav ul li>a:hover{
	border-color:#25292e;
}
.nav .search{
	width:260px;
	height:45px;
	border-bottom: 4px solid #ededed;
	float:right;
}
.nav .search .searchkey{
	width:33px;
	height:40px;
	margin-top:3px;
	margin-right:13px;
	float:right;
	display: block;
	background: url(../img/icon.png) -167px -145px;
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transition: all .3s;
}
.nav .search .searchkey:hover{
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.banner{
	width:1000px;
	height:475px;
	margin:0 auto;
	position:relative;
	overflow: hidden;
}
.banner ul{
	width:4000px;
	float: left;
	position:absolute;left:0;top:0;
}
.banner ul li{
	width:1000px;
	height:475px;
	float: left;
}
.banner .left{
	width:130px;
	height:470px;
	position:absolute;left:0;top:0;
}
.banner .right{
	width:130px;
	height:470px;
	position:absolute;right:0;top:0;
}
.banner .left .pre{
    width: 50px;
    height: 50px;
    display: none;
    margin-top: -25px;
    z-index: 10;
    position: absolute;top: 50%;left: 32px;
    border-radius:50%;
    cursor: pointer;
    background: url(../img/normal_left.png);
    /*opacity: 0;
    filter: alpha(opacity=0);*/
}
.banner .right .next{
    width: 50px;
    height: 50px;
    display: none;
    margin-top: -25px;
    z-index: 10;
    position: absolute;top: 50%;right: 32px;
    border-radius:50%;
    cursor: pointer;
    background: url(../img/normal_right.png);
}
.banner:hover .pre,.banner:hover .next{
	display:block;
}
.banner .left:hover .pre{
	background:url(../img/circle_left_arrow1.png);
	
}
.banner .right:hover .next{
	background:url(../img/circle_right_arrow1.png);
}
.bannerButton{
	width:1000px;
	height:32px;
	margin:0 auto;
	margin-top:3px;
	text-align: center;
	position: relative;
}
.bannerButton a{
	width:78px;
	height:4px;
	display: block;
	position:absolute;left:50%;top:7px;
	margin-left:-39px;
}
.bannerButton span{
	width:20px;
	height:4px;
	display:block;
	float:left;
	background:#e8e8e8;
	margin:0 3px;
	cursor: pointer;
}
.bannerButton span.activecolor{
	background:#45494d;
}
.main_1{
	width:1000px;
	height:405px;
	margin:0 auto;
	margin-top:10px;
}
.main_1 div div{
	height:192px;
	float:left;
}
.main_1_l,.main_1_m,.main_1_r{
	width:319px;
	height:403px;
	margin-right:21px;
	float:left;
}
.main_1_r{
	margin-right:0px;
}
.main_1_lt,.main_1_rt{
	margin-bottom: 21px;
}
.main_2_title{
	width:1000px;
	height:38px;
	border-bottom: 1px solid #ccc;
	margin:36px auto 20px auto;
}
.main_2_title h5{
	font-size: 12px;
	line-height:38px;
	font-weight: normal;
	text-align: center;
}
.main_2{
	width:1000px;
	/*height:auto;*/
	margin:20px auto 10px auto;
	/*background: bisque;*/
	overflow:hidden;
}
#hotgoods ul li{
	width:316px;
	height:366px;
	float:left;
	margin:20px 6px 0px 10px;
	position:relative;
}
#hotgoods ul li>img{
	width:316px;
	height:316px;
}
#hotgoods>ul>li>#brand{
	color:#878787;
	font-size:14px;
	line-height:40px;
	float:left;
	padding-left:50px;
	width:160px; height:40px;
	background:url(../img/shoplogo.jpg)no-repeat left;
	overflow: hidden;
	cursor: pointer;
}#hotgoods>ul>li>.fav{
	color:#878787;
	font-size:14px;
	float:right;
	width:55px; height:40px;
	line-height:40px;
	cursor: pointer;
}
#hotgoods>ul>li>.fav>.Fav{
	width:35px;
	height:40px;
	float:left;
	display:none;
}
#hotgoods>ul>li>.fav>img{
	float:right;
	margin-top:11px;
}
#hotgoods>ul>li>input{
	width:30px;height:30px;border-radius:5px;margin-top:5px;
	background: url(../img/shopcarlogo.jpg)no-repeat;
	border-style:none;
	outline:none;
	cursor: pointer;
}
#hotgoods ul li .desc{
	width:316px;
	height:316px;
	color:white;
	text-align:center;
	display:none;
	position:absolute;left:0px;top:0px;
	background:rgba(0,0,0,0.5);
}
#hotgoods ul li:hover .desc{
	display:block;
}
#hotgoods ul li .desc h2{
	padding:10px 0 0 10px;
	color:#0c6eba;
	text-align:left;
	margin-bottom: 100px;
	font-style: italic;
}
#hotgoods ul li .desc h3{
	font-size:14px; line-height:20px;
}
#hotgoods ul li .desc p{
	font-size: 12px;
	width:85%;
    font-weight: normal;
    margin:5px 0px 0px 24px;
    line-height:20px;
}
.getmore{
	height: 50px;
    margin: 90px auto;
    width: 148px;
    background: url(../img/icon.png) no-repeat;
    background-position: 0 -640px;
    cursor: pointer;
    zoom: 1;
}
.getmore:hover{
	background-position: 0 -688px;
}
/*首页底部  样式  开始拼接*/
.our-bg{
	width:100%;height:120px;border-top:1px solid #ededed;background:#fbfdfe;
	padding: 51px 0 78px;
}
.titleour{
	position:relative;margin: 0 auto;padding-left: 45px;width: 177px;
    height: 16px; background:url(../img/icon.png)no-repeat;background-position: 45px -417px;
}
.titleour p{
    height: 15px;width: 27px;position: absolute;left: 0; top: 1px;
    background:url(../img/icon.png);background-position: -173px -356px;
}
.titleour a{
	width:177px;
	height:15px;
	display:block;
}
.ourmany{
	width:1000px; height:60px;padding-top:42px; margin:0 auto;background:#fbfdfe;
}
.ourmany ul li{
	width:250px; height:60px; float:left;
}
.ourmany ul li .ourlogo{
	background:url(../img/icon.png)no-repeat left;margin-right:16px;
}
.ourmany ul li.ourone .ourlogo{
	float:left; width:56px; height:60px; background-position: 0 -355px;
}
.ourmany ul li.ourtwo .ourlogo{
	float:left; width:45px; height:60px; background-position: -153px -217px;
}
.ourmany ul li.ourthr .ourlogo{
	float:left; width:55px; height:60px;background-position: -57px -353px;
}
.ourmany ul li.ourfor .ourlogo{
	float:left; width:57px; height:60px;background-position: -114px -353px;
}
.ourmany ul li .chinesetop{
	height: 24px;line-height:24px;overflow: hidden;font-size: 14px;color: #737373;
    text-align: left; margin-top:7px;
}
.ourmany ul li .english{
	  font-size:13px;line-height: 22px; color: #ccc;
}
.footer-bg{
	width:100%;height:223px;background:#25292e;border-top: #25292e 1px solid;
}
.footer{
	width:1000px;height:222px;margin:0 auto;background:#25292e;
}
.footleft{
	width:800px;padding-top:40px;height:182px;float:left;
}
.footleft>h1{
	width:196px;height:44px;
}
.footleft>h1>div{
	position:relative;padding-left:60px;font-size: 14px; font-weight:normal;
   	width: 136px; height: 44px; color: #5c5c5c; letter-spacing: 2px;
   	cursor: pointer;background:url(../img/icon.png)no-repeat;letter-spacing: 2px;
 	background-position: -175px 0;
}
.footleft>h1>div:hover .footcode{
	display: block;
}
.footleft>h1>div>.phone{
	line-height:18px;margin-bottom:7px;
}
.footleft>h1>div.footleftlogo:hover p{
	color:#878787;
}
.footcode{
	width:240px;height:186px;position: absolute;left:0px;bottom:44px;display:none;
}
.footcode div{
	height:144px;width:120px;text-align:center; float:left;background:#fff;
}
.friend{
	width:800px;height:108px;margin-top:29px;font-size: 12px;
    color: #5c5c5c; letter-spacing: 3px;/*background:red;*/
}
.friend ul{
	width:800px; height:14px; margin-bottom:9px;
}
.friend ul li{
	float:left;
}
.friend ul li.have{
	padding:0 10px;
}
.friend ul li.have a{
	color: #5c5c5c;
}
.friend ul li.have:hover a{
	color:#878787;
}
.footer-bg>.footer>.footleft>.friend>p{
	width:100%; height:16px;
}
.minlogo{
	width:200px;height:30px;float:left;
	padding-top:45px;
}
.minlogo ul li{
	float:right;height:30px;margin-left:27px;
}
.minlogo ul li a{
	display:block;height:20px;background: url(../img/icon.png)no-repeat;
	opacity:0.2;
}
.minlogo ul li.logoone a{
	width:18px;background-position:-129px -25px;
}
.minlogo ul li.logotwo a{
	width:23px;background-position:-150px -23px;
}
.minlogo ul li.logothr a{
	width:26px;background-position:-100px -23px;position:relative;
}
.minlogo ul li a:hover{
	opacity:1;
}
.minlogo ul li.logothr a:hover .logoonecode{
	display:block;
}
.minlogo ul li.logothr a .logoonecode{
	width:145px; height:194px;position:absolute;left:-60px;top:-193px;display:none;
	z-index:1000;
}
.minlogo ul li.logothr a .logoonecode div{
	width:145px;height:145px;background: url(../img/icon.png)no-repeat;
	background-position:0 -148px;
}
.mao{
	width:59px;height:59px;position:fixed;bottom: 44px;right: 44px;
    
}
.mao a{
	display:block;background: url(../img/icon.png);width:59px;height:59px;
	background-position:-20px -813px;opacity:1;
	display: none;
}
.mao a:hover{
	opacity:0.3;
}
/*.call{
	width:90px;height:30px;position:fixed;bottom: 0px;right: 27px;
}
.call a{
	display: block; width:90px;height:30px;background-color:#5b799a; color: #fff;
   	border-radius: 4px;font-size: 13px; text-decoration: none;line-height:30px;
    text-align:center;
}
.call a img{
	margin:5px 0 0 6px;float:left;
}*/
/*登录信息*/
#info:hover #userinfo{
	display: block;
}
#info img{
	width:30px;
	margin:12px 4px;
	float:left;
}
#userinfo{
	width:150px;
	font-size:14px;
	line-height:44px;
	position:absolute;top:56px;left:-20px;
	background:#292f34;
	display: none;
	z-index: 5;
}
#userinfo a{
	width:120px;
	height:45px;
	padding: 0 15px;
	display:block;
	-webkit-transition: all .3s;
}
#userinfo a span{
	width:120px;
	height:44px;
	color:#ccc;
	border-bottom:1px solid #3f4449;
	display:block;
	text-align: center;
}
#userinfo a:hover{
	background: #2e353d;
}
#userinfo a span.last{
	border-bottom:none;
}
.goods ul li{
   height:75px;
   padding-top:20px;
}
.goods ul li:hover{
	background: #2e353d;
}
.goods ul li img{
	width:50px;
	float:left;
}
.goods ul li span{
	height:30px;
	line-height:30px;
	padding-left:10px;
	display: block;
	float:left;
	text-align: left;
}
.goods ul li .goodsname{
	width:220px;
}
.goods ul li .goodsprice{
	float:right;
}
#cartnum{
	color:#0c79cc;
	font-size:16px;
	line-height:55px;
	margin-right:4px;
}
/*聊天框*/
#chat_box{
	width: 360px;
	height: auto;
	/*background: red;*/
	border-radius: 5px;
	border: 1px solid #ccc;
	display: none;
	position: fixed;left:75%;top: 27%;
	background:white;
	z-index: 1000;
}
#chat_box2{
	height: 41px;
	background: #5b799a;
	line-height: 41px;
	color: white;
	border-radius: 5px;
}
#chat_box22{
	width: 30px;
	height: 30px;
	border-radius: 5px;
	/*border: 1px solid #fff;*/
	float: right;
	margin-top: 4px;
	margin-right: 10px;
	cursor: pointer;
}
#chat_box22 img{
	border: 1px solid #fff;
	border-radius: 6px;
}
#chat_box2 span{
	margin-left:10px ;
}
#chat_box2>a>img{
	float: right;
	margin-top: 5px;
}
#chat_box3{
	width: auto;
	height: 369px;
	overflow: auto;
	background: #f4f7fa;
}
#chat_box4{
	width: auto;
	height: 140px;
}
#chat_box4 ul li{
	float: left;
	list-style: none;
	margin-left: 8px;
}
#chat_box4 textarea{
	width: 350px;
	height: 70px;
	outline:none;
	border: none;
	resize: none;
	padding-left: 10px;
}
#chat_but{
	width: 100px;
	height: 30px;
	border-radius: 5px;
	color: #fff;
	outline:none;
	border: none;
	cursor: pointer;
	float: right;
	margin: -5px 5px;
}
#chat_box6{
	width: 90px;
	height: 30px;
	background: #5b799a;
	cursor: pointer;
	color: #fff;
	border-radius: 5px;
	font:12px/30px "微软雅黑";
	position: fixed;right: 28px;bottom: 10px;
	padding-left: 3px;
}
#chat_box6 span{
	float: right;
	margin-right: 5px;
}
#chat_ul{
	width:180px;
	float:right;
}
#chat_ul li{
    text-align:left;
	padding:5px 10px;
	margin:15px 0;
    background:#999999;
	width:auto;
	height:auto;
	border-radius:10px;
}
body{
	height:100vh;
}